* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f5f5f5;
    color: #000000;
}


#nav-bar {
    background-color: #333;
}

.navigation-container {
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    justify-content: space-evenly;
}

.navigation-container li {
    float: left;
    width: 25%;
}

.navigation-container a {
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition-duration: 300ms;
}

.navigation-container a:hover {
    transition-duration: 300ms;
    background-color: #000000;
}














#profile-container {
    display: flex;
}

#profile-container img, p, h2 {
    display: inline;
}

#profile-container p, h2 {
    float: right;
}

#profile-photo {
    border-radius: 200px;
    transition-duration: 100ms;
}

#profile-photo:hover {
    border-radius: 200px;
    transition-duration: 100ms;
    width: 220px;
    height: 220px;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 800px;
    border: 1.5px solid blue;
    border-radius: 5px;
}